<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.first_name}} {{user.first_name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Comment</button>
  </p>
</div>
